<launch>
    <arg name="record" default="false"/>
    <arg name="time" default="30"/>
    
    <node
        pkg="turtlebot_navigator"
        name="turtlebot_navigator"
        type="turtlebot_navigator"
        output="screen"
        launch-prefix="gnome-terminal --command"
     />

    <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
        <arg name="world_file" value ="$(find turtlebot_navigator)/rviz/turtlebot_navigator.sdf"/>
    </include>

    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        <param name="resolution" value="0.05"/>
        <param name="frame_id" type="string" value="odom"/>
        <param name="sensor_model/max_range" value="5.0"/>
        <remap from="cloud_in" to="/camera/depth/points"/>
    </node>

    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find turtlebot_navigator)/rviz/octomap.rviz"/>

    <node
        pkg="rosbag"
        name="rosbag"
        type="record" args="--all --output-name=$(find turtlebot_navigator)/results/turtlebot_navigator.bag -x /camera/(.*) --duration=$(arg time)" if="$(arg record)"
    />
</launch>
